.page-container { 
    max-width: 1200px; 
    margin: 60px auto; 
    padding: 0 20px; 
    min-height: 60vh; 
}

/* 品牌理念區塊：左圖右文 */
.brand-concept-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding:0px 0px 0px 45px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    margin-bottom: 50px;
}

.brand-image {
    flex: 1;
    min-height: 450px;
    background-color: #eee;
    background-image: url('../picture/other/brand.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.brand-text-content {
    flex: 1;
    padding: 60px;
}

.brand-text-content h2 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 25px;
    position: relative;
}

.brand-text-content h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--primary-color);
    margin-top: 10px;
}

.brand-text-content p {
    line-height: 2;
    color: var(--text-dark);
    font-size: 17px;
    text-align: justify;
}

/*RWD 響應式設計*/
/* 針對平板尺寸 (769px ~ 1024px) */
@media (max-width: 1024px) {
    nav ul {
        flex-wrap: wrap; 
        gap: 50px;
        justify-content: center;
    }
    nav ul li {
        margin: 0 10px; 
    }

    .reflection-card {
        padding: 20px 25px;
    }
}