:root {
    --primary-color: #BDA068; 
    --text-dark: #5d3f2b;
    --bg-light: #F9F8F6; 
    --border-color: #E0E0E0;
}

body {
    background-color: var(--bg-light);
    color: var(--text-dark);
    margin: 0;
}

/*header*/
header {
    background-color: #FFF;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 15px 15px 0px 15px;
}
.logo{
    grid-column: 2/3;
    justify-self: center;
    align-items: center;
    padding-bottom: 15px;

}
.logo img {
    width: 130px;
}

.icons {
    display: flex;            
    justify-content: right; 
    align-items: center;      
    gap: 20px;                
    padding: 0 20px;  
    list-style: none;      
}

.icons img {
    width: 35px;            
    height: auto; 
    transition: transform 0.3s;
}

.icons img:hover {
    transform: scale(1.1); 
}
.search-checkbox {
    display: none;
}

/* 搜尋框 */
.search-wrapper {
    display: none;
    position: absolute; 
    right: 20px;    
    top: 100px;     
    
    width: 350px;
    background: white;
    border: 1px solid #d3c7b9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.search-checkbox:checked + .search-wrapper {
    display: block;
}

.search-inner {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.search-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 12px;
}

.search-btn {
    background-color: #BDA068;
    color: white;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.search-btn:hover {
    background-color: #927c50;
}

.search-trigger {
    cursor: pointer;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
    margin: 0;          
    width: 100%;

    border-top: 1px solid #F0F0F0;
    list-style: none;

}

nav ul li {
    margin: 0 80px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.drop {
    position: relative; 
}
.dropmenu::before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 0;
    width: 100%;
    height: 20px; 
    background: transparent;
}
.dropmenu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    
    background-color: #ffffff;
    list-style: none;
    min-width: 100%;
    text-align: center;
    width: auto;
    white-space: nowrap;

    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    padding: 10px 0;
    border-radius: 4px;
}
.dropmenu li a {

    text-decoration-line: none;
    padding: 8px 15px;
    display: block;
    font-size: 14px;
    color: #555;
}
.dropmenu li a:hover {
    color: var(--primary-color); 
    transition: background-color 0.3s;
}
.drop:hover .dropmenu {
    display: block;
}

/*contact*/
.record {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.record p a{
    color: #BDA068;
    text-decoration: none;
    justify-self: center;
}
h2 {
    text-align: center;
    color: #5d3f2b;
    margin-bottom: 20px;

}
.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    resize: vertical;
}
.submit {
    width: 100%;
    padding: 12px;
    background-color: #BDA068; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.submit:hover {
    background-color: #927c50;
}

/* ad */
.ad {
    background-color: #F9F8F6;
    height: 100%;
    justify-content: center;
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.prev, .next{
    position: absolute;
    top:50%;
    padding: 20px;
    width:auto;

    color:white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 3px;
    transition: 0.6s ease;
  }
.next{
    right: 0px;
}
.prev:hover, .next:hover{
    background-color: black;
    opacity: 0.8;
}
.slide {
    animation: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity:0.4;}
    to{opacity:1;}
  }
.dot{
    position: relative;
    height: 10px;
    width: 10px;
    margin: 0px 2px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.5s ease;
    bottom: 40px;
    
}

.active, .dot:hover{
    background-color: #717171;
}

/* Product*/
h1{
text-align: center;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

}
.product a{
    text-decoration-line: none;

}
.product-card {
    text-align: center;
}
.product-image {
    transition: transform 0.3s;
}

.product-image img {
    width: 100%;    
}

.product-card:hover .product-image:hover {
    transform: scale(1.1); 

}
.more a{
    color: var(--text-dark);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;

}
.more a:hover {
    color: var(--primary-color);
}

.name {
    font-size: 16px;
    color:var(--text-dark);
    margin-bottom: 8px;
}

.price {
    font-size: 16px;
    color: var(--primary-color); 
    font-weight: bold;
}
  
/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;

    background: #FFF;
    border-top: 1px solid var(--border-color);
    padding: 20px 10px;
    margin-top: 60px;
    font-size: 13px;
    color: #555;

    
}
.contactus a{
    text-decoration-line: none;
    display: block;
    margin: 16px 0;
    font-size: 13px;
    color: #555;
}
.service a {
    width:100px;
    text-decoration-line: none;
    display: block;
    margin: 16px 0;
    font-size: 13px;
    color: #555;
}

.bottom {
    margin: 0 auto;
    font-size: 14px;
}
.contactus{
    grid-column: 1/2;
    justify-self: center;
    align-items: center;

}
.service{
    grid-column: 2/3;
    align-items: center;
}
.logo-bottom{
    grid-column: 3/4;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.logo-bottom img{
    width: 300px;
}
.logo-bottom p{
    color:#d3c7b9;
    justify-content: center;
    align-items: center;

}

.menu-checkbox, .hamburger {
    display: none;
}

@media (max-width: 768px) {
    /* Header */
    .top {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        position: relative; 
    }
    .logo {
        grid-column: 2 / 3;
        justify-self: center;
    }

    .logo img {
        width: 80px; 
    }

    .icons {
        grid-column: 3 / 4;
        justify-self: end;
        gap: 12px;
        padding-right: 10px;
    }

    .icons img {
        width: 22px; 
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25px;
        height: 20px;
        cursor: pointer;
        grid-column: 1 / 2;
        justify-self: start;
        margin-left: 10px;
    }

    .hamburger span {
        width: 100%;
        height: 2px;
        background-color: var(--text-dark);
        border-radius: 2px;
    }

    .menu-checkbox {
        display: none !important;
    }
    .menu-checkbox:checked ~ nav#main-nav {
        display: block !important;
    }   
    nav#main-nav {
        display: none !important; 
        flex-direction: column !important;
        position: absolute;      
        top: 100%;              
        left: 0;
        width: 100%;
        background-color: #ffffff;
        z-index: 9999;
        border-bottom: 1px solid var(--border-color);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
        grid-column: 1 / -1; 
    }
    nav ul {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0;
        border-bottom: 1px solid #f9f9f9;
    }

    nav ul li a {
        padding: 15px;
        display: block;
    }
    .menu-checkbox:checked ~ nav#main-nav,
    .menu-checkbox:checked + .hamburger + .logo + .icons + nav#main-nav 
    { 
        display: block !important; 
    }

    nav#main-nav ul {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important; 
        justify-content: center !important;
        padding: 20px 0;
        margin: 0;
        width: 100%;
    }

    nav#main-nav ul li {
        width: 100%;
        text-align: center; 
        margin: 0;    }

    nav#main-nav ul li a {
        display: block;
        padding: 15px 0;
        width: 100%;
        font-size: 18px;
        text-align: center; 
    }

    .ad .prev, 
    .ad .next,
    .ad .dot {
        display: none !important;
    }
    .dropmenu {
        position: static;
        box-shadow: none;
        background-color: #fcfcfc;
        display: none; 
    }

    .drop:hover .dropmenu {
        display: block;
    }

    .product {
        grid-template-columns: 1fr 1fr !important; 
        gap: 5px !important;
        width: 100%;    
    }
    .product-item {
        width: 100%;               
        text-align: center;        
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    .product-card {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap:10px;
    }
    .product-image img {
        height: auto;
        margin-bottom: 15px;
    }
    .profile-card{
        grid-template-columns: 1fr;
    }
    footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }

    .contactus, .service, .logo-bottom {
        grid-column: 1/2;
    }
    
    .service a {
        margin: 10px auto;
    }
    
    .logo-bottom img {
        width: 200px;
    }

    .search-wrapper {
        width: 80%;
        right: 5%;
        left: 5%;
        z-index: 1000;
    }
}
@media (min-width: 769px) {
    .top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    nav#main-nav {
        grid-column: 1 / -1; 
        display: block;      
        position: static;   
    }
}